
body{
  background: #ffffff;
  /* background: linear-gradient(0deg,rgba(255, 255, 255, 1) 50%, rgba(95, 109, 236, 0.5) 100%); */
  font-family: "Montserrat", sans-serif !important;
  background-image: url('/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;                   
  background-attachment: fixed;
}



/* Заголовки */
h1, h2, h3, h4 {
  color: #121426;
  margin-top: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #121426;
  font-size: 2.2rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1.5rem;
  
}

h4 {
    font-weight: 400;
}




/* Для подзаголовка на главной странице */
h2.subtitle {
    font-weight: 700; 
  font-size: 2.5rem;
background: linear-gradient(90deg,rgba(109, 102, 204, 1) 0%, rgba(140, 97, 184, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: lowercase;
  margin-top: 5px; 
  text-align: center; 
  line-height: 1.4; 
}


h3.description {
  font-weight: 500; 
  font-size: 1.5rem;
  margin-top: 0.7rem;
  color: #4f58a7;; 
  text-transform: lowercase;
  text-align: center; 
  line-height: 1.4;
}

/* Мобильные устройства */
@media screen and (max-width: 768px) {
  h2.subtitle {
    font-size: 1.25rem; /* Уменьшаем размер на мобильных */
  }
}

.pb6-l {
    padding-bottom: 3rem;
}
.mt5 {
    margin-top: 0rem;
}

/* Переопределяем f2 (размер) */
.f2 {
  font-size: 4rem; 
  margin-top: 4rem;/* или любой другой размер */
}

/* Меняем цвет текста */
.light-silver {
  color: #221F5C; /* более тёмный */
  max-width: 70%;

}

/* Переопределяем межстрочный интервал */
.lh-title {
  line-height: 1.3;
}

/* Меняем начертание */
.fw2 {
  font-weight: 600;
}

/* Параграфы */
p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}


.ph3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.ph_nav {
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
}

ul a {
  position: relative;
  display: inline-block;
  color: #34318c;
  text-decoration: none;
  padding: 0.5rem 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  z-index: 1;
  font-weight: 500;
}

ul a::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg,rgba(126, 118, 232, 1) 0%, rgba(184, 138, 230, 1) 100%); 
  transform: translateX(-100%) translateY(100%);
  transition: transform 0.4s ease;
  z-index: -1;
  border-radius: 0.5rem;
}

ul a:active::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg,rgba(126, 118, 232, 1) 0%, rgba(184, 138, 230, 1) 100%); 
  z-index: -1;
  border-radius: 0.5rem;
}

ul a:hover::before {
    content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg,rgba(126, 118, 232, 1) 0%, rgba(184, 138, 230, 1) 100%); 
  z-index: -1;
  border-radius: 0.5rem;
  transform: translateX(0) translateY(0);
}


.measure-wide{
   max-width: 40em;
}


.project-info {
    background: rgba(255, 255, 255, 0.5);
    max-width: 80%;
    padding: 2.5rem;
    text-align: left;
    border-radius: 40px;
    -webkit-box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.2);
}




p {
  color: #121426;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.5rem;
}

.project-info h2{
  font-size: 2rem;
}

.project-info p{
  line-height: 1.6rem;
}

.about p img{
  border-radius: 40px;
}

.journal-content h2 {
  font-size: 2rem;
  color: #121426;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.journal-content h2::after {
  content: "";
  display: block;
  height: 1.5px;
  background-color: #121426;
  width: 100%;
  margin-top: 0.6rem;
}

.journal-content p {
  color: #121426;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.5rem;
}


/* Стили для кнопок в столбик */
.resource-button {
  font-size: 1.2rem;
  position: relative;
  display: block; /* Кнопки идут вертикально */
  color: #121426; /* Изначально текст темного цвета */
  text-decoration: none;
  padding: 0.5em 1rem;
  overflow: hidden;
  border-radius: 0.6rem;
  z-index: 1;
  margin: 10px auto; /* Отступы для разделения кнопок */
  width: 100%; /* Занимает всю ширину */
  max-width: 800px; /* Ограничение максимальной ширины */
 background: rgba(255, 255, 255, 0.3); /* Фон до наведения */
  transition: color 0.3s ease, background-color 0.3s ease; /* Плавный переход для текста и фона */
}

/* Эффект на кнопке */
.resource-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg,rgba(126, 118, 232, 1) 0%, rgba(184, 138, 230, 1) 100%); /* Градиент слева направо */
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: -1;
  border-radius: 0.5rem;
}

/* Эффект при нажатии */
.resource-button:active::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg,rgba(126, 118, 232, 1) 0%, rgba(184, 138, 230, 1) 100%); /* Градиент слева направо */
  z-index: -1;
  border-radius: 0.5rem;
}

/* Эффект при наведении */
.resource-button:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg,rgba(126, 118, 232, 1) 0%, rgba(184, 138, 230, 1) 100%);/* Градиент слева направо */
  z-index: -1;
  border-radius: 0.5rem;
  transform: translateX(0); /* Перемещение слева направо */
}

/* При наведении меняем цвет текста на белый и фон на более темный */
.resource-button:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.3); /* Фон при наведении */
}






.home-contentblock p {
  width: 100%;
  color: #121426;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.5rem;
}





.home-news {
  padding: 2rem;
}

.news-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.news-card-horizontal {
  display: flex;
  border-radius: 1.5rem;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);

  /* Переопределяем переход, чтобы избежать конфликта */
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  will-change: transform, box-shadow;
}


.news-card-horizontal:hover {
   transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.news-card-image {
  flex-shrink: 0;
  padding: 1rem;

  border-radius: 1rem 0 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-card-image img {
  max-height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.news-card-text {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.news-card-text h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.news-card-text h2::after {
   content: none;

}

.news-date {
  font-size: 1rem;
  color: #767892;
  margin: 0.1rem 0;
}

.news-desc {
  font-size: 1rem;

}